.bg-secondary {
    background-color: #A0153E !important;
}

.bg-primary {
    background-color: #FFEBB2 !important;
}

.footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #EEEEEE; 
}

.copyright {
    font-size: 18px;
}

nav {
    font-weight: 700;
}

.navbar-nav a.nav-link {
    color: #F8F6E3 !important;
}

.navbar-brand-custom {
    color: black !important;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.navbar-nav a.nav-link:hover {
    color: #90D26D !important;
}

.header-cream {
    background-color: #A0153E !important;
    color: white;
}

.table td,
.table th {
    text-align: center;
}

.custom-button {
    background-color: #87C4FF; 
    color: black;
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 14px; 
    cursor: pointer; 
}

.custom-button:hover {
    background-color: #90D26D; 
}

.heart-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: color 0.3s ease;
}

.heart-btn.clicked .heart-icon {
    color: #dc3545;
}

.user-reviews-bg {
    background-color: #A0153E;
    color: white; 
    text-align: center;
    font-weight: bold;
}

.breadcrumb {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child):after {
    content: "›";
    margin: 0 5px;
    color: #777;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.breadcrumb a:hover {
    color: #A0153E;
}

.card-header {
    background-color: #A0153E;
    color: white;
    text-align: center;
    font-weight: bold;
}

.table thead th {
    background-color: #FFEBB2; 
    color: black; 
}


