/* Background colors */
.bg-secondary {
    background-color: #A0153E !important;
}

.bg-primary {
    background-color: #FFEBB2 !important;
}

.footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #EEEEEE; 
}

/* Copyright section */
.copyright {
    font-size: 18px;
}

/* Navigation */
nav {
    font-weight: 700;
}

.navbar-nav a.nav-link {
    color: #F8F6E3 !important;
}

.navbar-brand-custom {
    color: black !important;
}

/* Image card */
.img-card {
    height: 18vw;
    object-fit: cover;
}

.navbar-nav a.nav-link:hover {
    color: #90D26D !important;
}
