.bg-secondary {
    background-color: #A0153E !important;
}

.bg-primary {
    background-color: #FFEBB2 !important;
}

.footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: #A0153E; 
    color: white;
}

.copyright {
    font-size: 18px;
}

nav {
    font-weight: 700;
}

.navbar-nav a.nav-link {
    color: #F8F6E3 !important;
}

.navbar-brand-custom {
    color: black !important;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}

.navbar-nav a.nav-link:hover {
    color: #FFEBB2 !important;
}

.header-cream {
    background-color: #A0153E !important;
    color: white;
}

.table td,
.table th {
    text-align: center;
}

.custom-button {
    background-color: #87C4FF; 
    color: black;
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    font-size: 14px; 
    cursor: pointer; 
}

.custom-button:hover {
    background-color: #90D26D; 
}

.heart-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: color 0.3s ease;
}

.heart-btn.clicked .heart-icon {
    color: #dc3545;
}

.user-reviews-bg {
    background-color: #A0153E;
    color: white; 
    text-align: center;
    font-weight: bold;
}

.breadcrumb {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

.breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child):after {
    content: "›";
    margin: 0 5px;
    color: #777;
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.breadcrumb a:hover {
    color: #A0153E;
}

.card-header {
    background-color: #A0153E;
    color: white;
    text-align: center;
    font-weight: bold;
}

.table thead th {
    background-color: #FFEBB2; 
    color: black; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    padding-bottom: 30px;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.map-container {
    margin-top: 20px;
    border: 3px solid #FFEBB2;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.map-title {
    font-size: 24px; 
    color: #A0153E; 
}

#map {
    height: 300px; 
    width: 102%; 
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-link:hover {
    color: #FFEBB2;
}

.about-section,
.faq-section,
.privacy-policy-section,
.terms-conditions-section {
    margin-bottom: 40px;
}

.additional-info {
    position: sticky;
    top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #A0153E;
    text-align: center;
}

.additional-info h3 {
    background-color: #A0153E; 
    color: white; 
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.additional-info ul {
    list-style: none;
    padding: 0;
}

.additional-info ul li {
    margin-bottom: 10px;
}

.additional-info ul li a {
    text-decoration: none;
    color: #333;
}

.additional-info ul li a:hover {
    color: #dc205b;
}

.about-title {
    color: #A0153E;
    margin-bottom: 40px;
    margin-top: 20px;
}

.about-section,
.faq-section,
.privacy-policy-section,
.terms-conditions-section {
    text-align: justify;
}

